<a
  href="#responsive-header"
  class="
    block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-20
    hover:underline
  "
>
  Projects
</a>
<a
  href="#responsive-header"
  class="
    block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-20
    hover:underline
  "
>
  About Me
</a>
<a
  href="#responsive-header"
  class="
    block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white
    hover:underline
  "
>
  Blog
</a>
